# Problem 41

<span style="font-size:20px"> 

We shall say that an $n$-digit number is pandigital if it makes use of all the digits $1$ to $n$ exactly once. For example, $2143$ is a $4$-digit pandigital and is also prime.

What is the largest $n$-digit pandigital prime that exists?
</span>

In [60]:
from itertools import permutations
from sympy import isprime

def unique_1_to_n_numbers(n):
    digits = [str(i) for i in range(1, n + 1)]
    for p in permutations(digits):
        yield int(''.join(p))

In [61]:
numbers = []
for i in range(1, 10):
    numbers += list(unique_1_to_n_numbers(i))

In [62]:
for num in reversed(numbers):
    if isprime(num):
        print(num)
        break

7652413

# Problem 42

<span style="font-size:20px">

The $n$ th term of the sequence of triangle numbers is given by, $t_n = \frac12n(n+1)$ ; so the first ten triangle numbers are:

$$ 1, 3, 6, 10, 15, 21, 28, 36, 45, 55, \dots $$

By converting each letter in a word to a number corresponding to its alphabetical position and adding these values we form a word value. For example, the word value for SKY is $19 + 11 + 25 = 55 = t_{10}$ . If the word value is a triangle number then we shall call the word a triangle word.

Using words.txt (right click and 'Save Link/Target As...'), a 16K text file containing nearly two-thousand common English words, how many are triangle words?
</span>

In [106]:
import ast #Abstract Syntax Tree - a built-in Python module for safely evaluating Python expressions

with open('0042_words.txt', 'r') as file:
    content = file.read()
    names_list = ast.literal_eval(f"[{content}]")
    names_list.sort()
    print(names_list[:10])

['A', 'ABILITY', 'ABLE', 'ABOUT', 'ABOVE', 'ABSENCE', 'ABSOLUTELY', 'ACADEMIC', 'ACCEPT', 'ACCESS']

In [149]:
def is_triangle(number):
    for i in range(number+1):
        t_n = 1/2 * i * (i + 1)
        if t_n == number:
            return True
        elif t_n > number:
            return False
            break

In [150]:
abc = {
    'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9, 'j': 10,
    'k': 11, 'l': 12, 'm': 13, 'n': 14, 'o': 15, 'p': 16, 'q': 17, 'r': 18, 's': 19,
    't': 20, 'u': 21, 'v': 22, 'w': 23, 'x': 24, 'y': 25, 'z': 26
}

def letter_score(name):
    alph_value = 0
    letters = list(name.lower())
    for i in letters:
        alph_value += abc[i]
    score = alph_value 
    return score

def is_triangle_word(word):
    score = letter_score(word)
    if is_triangle(score):
        return True

In [151]:
triangle_words = []
for word in names_list:
    if is_triangle_word(word):
        triangle_words.append(word)

In [152]:
len(triangle_words)

162

# Problem 43

<span style="font-size:18px">

The number $1406357289$ is a $0$ to $9$ pandigital number because it is made up of each of the digits $0$ to $9$ in some order, but it also has a rather interesting sub-string divisibility property.

Let $d_1$ be the 1st digit, $d_2$ be the 2nd digit, and so on. In this way, we note the following:

- $d_2 d_3 d_4 = 406$ is divisible by $2$
- $d_3 d_4 d_5 = 063$ is divisible by $3$
- $d_4 d_5 d_6 = 635$ is divisible by $5$
- $d_5 d_6 d_7 = 357$ is divisible by $7$
- $d_6 d_7 d_8 = 572$ is divisible by $11$
- $d_7 d_8 d_9 = 728$ is divisible by $13$
- $d_8 d_9 d_{10} = 289$ is divisible by $17$

Find the sum of all $0$ to $9$ pandigital numbers with this property.
</span>

In [ ]:
from itertools import permutations

def unique_1_to_n_numbers(n):
    digits = [str(i) for i in range(0, n + 1)]
    for p in permutations(digits):
        if p[0] != '0':
            yield int(''.join(p))

def separator(n):
    num = [int(i) for i in list(str(n))]
    return num

primes = [2, 3, 5, 7, 11, 13, 17]

def is_divisible_pan(n):
    number_list = separator(n)
    count = 0
    for i in range(1, 8):
        temp = number_list[i:i+3]
        num = int(''.join(map(str, temp)))
        if num % primes[i-1] == 0:
            count += 1
        else:
            break
    if count == 7:
        return True

In [20]:
pandigitals = list(unique_1_to_n_numbers(9))

In [ ]:
the_pans = []

for number in pandigitals:
    if is_divisible_pan(number):
        the_pans.append(number)

In [42]:
sum(the_pans)

16695334890